.App {
  font-family: sans-serif;
  margin: auto;
  padding: 25px;
  margin-top: 50px;
  color: lightgrey;
  font-weight: bolder;
  width: 807px;
}

@media only screen and (max-width: 600px) {
  .App {
    width:600px; 
    margin:0 auto;
    width: 78%;
  }
}

.head {
  background-color: #282c34;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  font-size: 30px;
  text-align: center;
  height: 300px;
}



.body {
  align-content: start;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  font-size: 1rem;
}


.user {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 0px 0px 0px 20px;
}

@media only screen and (max-width: 600px) {
  .user {
    margin-top: 30px;
    width: 600px;
    width: 78%;
  }
}


.message {
  margin-bottom: 0.5px;
  width: 564px;
  height: 50px;
  margin-left: -1%;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 0px 0px 20px 0px;
}


@media only screen and (max-width: 600px) {
  .message {
    margin-top: 30px;
    width: 600px;
    width: 78%;
  }
}

.text {
  text-align: left;
  padding-top: 1px;
  margin-left: 8%;
  width: 85%;
  font-size: 25px;
  background: #5d5d5d;
  color: white;
  border-radius: 20px;
}


.text2 {
  padding-top: 25px;
  margin-left: 8%;
  width: 85%;
  font-size: 20px;
  margin-top:35px;
  background-color: #282c34;
  color: white;
}


#text-author {
  margin-top:50px;
  padding: 10px;
  width: 100%;
  background: #5d5d5d;
  border-radius: 0px 0px 0px 20px;
  font-weight: normal;
  font-size: 16px;
}

#text-message {
  padding: 30px;
  margin-top:20px;
  width: 100%;
  background: #5d5d5d;
  border-radius: 20px;
}


.btn {
  background-color: rgba(255, 99, 71, 0);
  width: 120px;
  height: 40px;
  border: 3px solid #ffffff;
  border-radius: 9px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  float: right;
}
