.App {
  font-family: sans-serif;
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 20px;
  margin: auto;
  width: 600px;
  padding: 25px;
  margin-top: 50px;
  color: lightgrey;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .App {
    width:600px; 
    margin:0 auto;
    width: 78%;
  }
}


.title {
  text-decoration: 4px tomato underline;
  text-underline-offset: 7px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;
  color: lightgrey;
}

.user {
  margin-top:25px;
  width: 390px;
  height: 50px;
  margin-left: 15%;
  background-color: #282c34;
  color: white;
  border: 3px solid tomato;
  border-radius:10px;
}

@media only screen and (max-width: 600px) {
  .user {
    margin-top: 30px;
    width: 600px;
    width: 78%;
  }
}

.message {
  margin-top:20px;
  width: 390px;
  height: 50px;
  margin-left: 15%;
  background-color: #282c34;
  color: white;
  border: 3px solid tomato;
  border-radius:10px;
}


@media only screen and (max-width: 600px) {
  .message {
    margin-top: 30px;
    width: 600px;
    width: 78%;
  }
}

.text {
  margin-top:25px;
  background-color: #282c34;
  color: white;
}

#text-author {
  margin-top:50px;
  padding: 10px;
  width: 100%;
  background: #1a1d21;
  text-align: center;
  border-radius: 20px;
}

#text-message {
  padding: 30px;
  margin-top:20px;
  width: 100%;
  background: #1a1d21;
  text-align: center;
  border-radius: 20px;
}


.btn {
  background-color: tomato;
  width: 120px;
  height: 40px;
  border: 1px solid tomato;
  border-radius: 9px;
  color: #282c34;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 15px;
}
